/*kolom links*/
/*Hele pagina verdelen in kolommen*/
.product {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
/*Grootte die wordt weergeven*/
.productFoto img{
    width: 70%
}
/*Foto positioneren*/
.productFoto{
margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;

}
/*Foto uploaden positioneren*/
.fotoUpload{
    margin-top: 3%;
    margin-left: 10%;
}
/*Beschrijving positioneren*/
.productBeschrijving{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
/*beschrijving grootte*/
.productBeschrijving textarea{
    width: 100%;
    height: 400px;
}

/* Kolom midden */
/*Titel positioneren*/
.titel{
    margin-top: 3%;
    margin-left: 10%;
}
/*Grootte titel*/
.titel input{
    width: 500px;
    height: 40px;
    font-size: 30px;
}
/*Video positioneren*/
.video{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30%;
}
/*Grootte video*/
iframe{
    width: 100%;
    height: 50%;
}

/* Kolom rechts*/
/*Voorraad aanpassen en voorraad opslaan positioneren*/
.voorraadBeheer{
    margin-top: 150%;
    margin-left: 37.5%;
}
/*Voorraad aanpassen grootte*/
.voorraadBeheer input[type="number"]{
    width: 40px;
}
/*Alles opslaan button positioneren*/
.opslaan{
    margin-top: 2%;
    margin-left: 69%;
}