/*dit zorgt ervoor dat de hele html pagina niet groter dan 100% kan zijn*/
html {
    max-width: 100%;
}
/*het zorgt ervoor dat er om de pagina heen geen pixels meer kunnen komen en dat er geen extra padding bij op wordt geteld*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*dit zorgt ervoor dat de achtergrond van de header lichtgrijs is*/
nav {
    background-color: lightgrey;
    display: block;
    width: 100%;
    height: 75px;
    padding: 5px;
}
/*dit zorgt ervoor dat de class: top ingedeeld wordt in blokken*/
nav .top {
    display: grid;
    grid-template-columns: 50px 1fr 150px;
    grid-template-rows: 40px;
}
/*dit zorgt ervoor dat de ul een maximale wijdte van 100% heeft en dat alles naar links wordt gezet*/
nav .top, nav ul {
    width: 100%;
    float: left;
}
/*dit zorgt ervoor dat het plaatje naar links wordt gezet en een hoogte en breedte van 40 pixels heeft*/
nav .top img {
    float:left;
    margin: 0;
    height: 40px;
    width: 40px;
}
/*dit zorgt ervoor dat de wijdte 99% is en dit zorgt ervoor dat het plaatje meebeweegd als je de pagina kleiner maakt*/
nav .top .search {
    width: 99%;
    position: relative;
}
/*dit zorgt ervoor dat de er een rond block om de zoekbalk heenkomt, hij naar links wordt gezet, een wijdte van 100% heeft en een hoogte van 40 pixels, en dat hij 30 pixels van de kant af staat*/
nav .top .search input {
    border: 1px solid black;
    border-radius: 20px;
    float:left;
    width: 100%;
    height: 40px;
    padding-left: 30px;

}
/*.....*/
nav .top .search label{
    float: left;
    position: absolute;
    height: 100%;
}
/*dit zorgt ervoor dat het zoek icoontje op de juiste plek komt te staan*/
nav .top .search label i {
    line-height: 40px;
    margin-left: 10px;
}
/*dit zorgt ervoor dat de class acc een wijdte en breedte van 100% heeft en zorgt ervoor dat de ruimte erboven en eronder 40 pixels is*/
nav .top .acc {
    width: 100%;
    height: 100%;
    line-height: 40px;
}
/*dit zorgt ervoor dat de p en de a in de class acc naar links worden verschoven, dat de margin 0 is, dat de ruimte ertussenin 40 pixels is en dat het lettertype Arial is*/
nav .top .acc p, nav .top .acc a {
    float: left;
    margin: 0;
    line-height: 40px;
    font-family: Arial;
}
/*dit zorgt ervoor dat de icoontjes erboven en eronder 40 pixels hebben, dat ze 2 pixels uit elkaar staan en dat ze zwart worden*/
nav .top .acc a i {
    line-height: 40px;
    margin-left: 2px;
    color: black;
}
/*
nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display:inline;
    float:left;
    width: calc(100% / 10);
    border: 0.5px solid
}

nav ul li a {
    margin-left: 3px;
    color: black;
    text-decoration: none;
    font-family: Arial;
}

nav ul li a:hover {
    color: red;
}


main {
    height: calc(100vh - 70px);
    padding: 0 80px;
}

.top img {
    border-radius: 50%;
}
