/*deze class zorgt ervoor dat de filter naas de zoekterm kan staan*/
.zoekterm {
    display: inline-block; /*zorgt er voor dat filter naas de zoekterm komt te staan*/
    text-align: center;
}
/*Deze class zorgt ervoor dat de filter rechts komt te staan*/
.filter {
    float: right;
    margin-top: 1%;
}
/*deze klas maakt een grid waardoor de vier divs naast elkaar kunnen staan en goed gepositoneerd zijn*/
.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 50px;
}
/*deze class zorgt ervoor dat alle content die in deze class staat goed gepositioneerd is*/
.product {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*voert 2 keer de fr (fraction) uit*/
    grid-template-rows: 100%;
    border: 1px solid black;
}
/*deze class zorgt er voor dat de img in de div blijft*/
.product .img img {
     display: block;
     height: 100%;
}
/*deze class geeft een positie en daardoor kan alles naast elkaar staan*/
.content {
    position: relative;
    border: 1px solid;
    height: 100%;
}
/*deze class zet de titel op de goeie plek en geeft de titel een goeie grootte */
.title {
    margin-left: 1%;
    width: 50%;
    height: 15%;
    background-color: brown;
}
/*deze class zet de vooraad op de goeie plek en geeft de voorraad een goeie grootte */
.vooraad {
    margin-left: 1%;
    width: 60%;
    height: 15%;
    background-color: green;
}
/*deze class zet de prijs op de goeie plek en geeft de prijs een goeie grootte */
.price {
    margin-left: 1%;
    width: 15%;
    height: 15%;
    background-color: red;
}
/*deze class zet de heart icon op de goeie plek en geeft de heart icon een goeie grootte eb zorgt er voor dat er een handje komt als je er over heen hovert*/
.icon {
    margin-left: 80%;
    position: absolute;
    cursor: pointer;
}
/*deze class zet de cart icon op de goeie plek en geeft de cart icon een goeie grootte */

.cart{
    position: absolute; /*hierdoor blijft de icon altijd staan waar die is neergezet*/
    bottom: 0;
    right: 35px;
}

/*hier door komen de icons naast elkaar*/

.cart a {
    display: block; /*maakt een block element en zorgt er voor dat cart op een nieuwe lijn begint.*/
    width: 20px;
    height: 20px;
    float: left;
}
/*deze class zet de cart en de heart onderaan*/
.heart {
    margin-right: 2%;
}
/*deze class zet de input field op de juiste plaats */
.amount {
    margin-top: 1%;
    margin-left: 45%;
}