html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body .product {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
}
main div img {
    float:left;
    width: 350px;
    height: 350px;
}
.product .gegevens .voorraad {
    border: 1px solid black;
    display: inline-block;
    margin-right: 100%;
}
.product .gegevens .prijs {
    border: 1px solid black;
    display: inline-block;
    margin-right: 100%;
}
.product .gegevens a {
    margin-right: 100%;
}
.product .titel {
    font-size: 50px;
    font-family: Arial;
    margin-top: 5px;
    margin-left: 20px;
}
.product .omschrijving {
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.gegevens .prijs {
    font-family: Arial;
    font-size: 15px;
    margin-top:87%;
    margin-left: 80%;
}
.gegevens .voorraad {
    font-family: Arial;
    font-size: 15px;
    margin-top:2%;
    margin-left: 80%;
}
.filmpje {
    height: 300px;
    width: 100%;
    margin-top: 5px;
}
.product .filmpje p {
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.product .icons {
    float: right;
    display: block;
    margin-top: 2px;
    margin-right: 15px;
}
.product .icons a {
    float: left;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
}
.product .icons a i {
    float: left;
    color: black;
    margin-left: 2px;
}

